:root {
    --white-color: rgba(255, 255, 255, 0.90);
    --anik-color: rgba(255, 255, 255, 0.55);
    --bang-color: rgba(255, 255, 255, 0.78);
    --ganv-color: rgba(255, 255, 255, 0.80);
    --sing-color: #FDF5FF;
    --background-color: #1E252B;
    --paddin-color: #FF6E30;
    --main-color: #FFF;
    --lak-color: rgba(255, 255, 255, 0.38);
    --yellow-color: #FFA537;
    --red-color:#FD3B41;
    --yal-color: rgba(255, 165, 55, 0.55);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.body {
    font-family: Poppins;
    background-color: var(--background-color);
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 53px ;
    padding-right: 53px;
}


.antools {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 600;
    line-height: normal; 
}

.header-a {
color: var(--anik-color);
font-size: 16px;
font-weight: 500;
line-height: normal;
}

.header-log {
color: var(--bang-color);
font-size: 16px;
font-weight: 600;
line-height: normal;

}

.header-btn {
color: #FDF5FF;
font-size: 16px;
font-weight: 600;
line-height: normal;
padding: 12px 28px;
border-radius: 8px;
background: #FF6E30;
border: 0;
}

.box{
    display: flex;
    align-items: center;
}

.header {
    padding-top: 26px;
}

.header-nav {
    
}

.header-pages {
    margin-left: 257px;
    margin-right: 193px;
    display: flex;
    gap: 24px;
}

.lla {
    display: flex;
}

.ant {
   
}

.groupp {
    margin-right: 21.37px;
    
}

.header-login {
    display: flex;
    align-items: center;
    gap: 41px;
}


/* awesome-section */


.awesome {
    background-repeat: no-repeat;
    background-image: url(../images/Illustration.png);
    background-position: right top; 
}

.awesome-social {
    display:flex ;
    gap: 31px;
    padding-bottom: 195px;
}


.awesome-title {
color: var(--white-color);
font-size: 50px;
font-weight: 500;
line-height: 140%;
width: 600px;
margin-top: 104px;
}

.awesome-gr {
color: var(--anik-color);
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 487px;
margin-top: 30px;
}

.awesome-find {
    display: flex;
    margin-bottom: 190px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: #283036;
    width: 497.659px;
    height: 64px;
    margin-top: 60px;
    align-items: center;
}

.awesome-scrt {
    margin-right: 13px;
    margin-left: 18px;
}

.awesome-btn-btn {
    margin-right: 111px ;
    background-color: transparent;
    border: 0;
    width: 190px;
}

.awesome-btn-srch {
color: rgba(255, 255, 255, 0.78);
font-size: 16px;
font-weight: 600;
line-height: normal;
background: #FF6E30;
padding-left: 36px;
padding-right: 36px;
padding-top: 12px;
padding-bottom: 12px;
border-radius: 8px;
}


.tools {
   text-align: center;
}


.tools-titl {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
}

.tools-p {
color: rgba(255, 255, 255, 0.55);
text-align: center;
font-size: 18px;
font-weight: 500;
line-height: 30px;
width: 427px;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
margin-bottom: 110px;
align-items: left;
}

.tools-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.tools-div {
    display: flex;
    gap: 30px;
    align-items: center;
}

.tools-title {
color: rgba(255, 255, 255, 0.78);
font-size: 24px;
font-weight: 500;
line-height: normal;
margin-bottom: 3px;
}

.tools-desk {
    color: rgba(255, 165, 55, 0.55);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.tools-text {
color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-weight: 400;
line-height: 30px; 
margin-top: 31px;
margin-bottom: 30px;
width: 326px;
align-items: left;
}

.tools-item {
    width: 392px;
}


.tools-item:nth-child(1) {
margin-bottom: 76px;
}

.tools-item:nth-child(2) {
    margin-bottom: 100px;
}

.tools-item:nth-child(3) {
    margin-bottom: 100px;
}

.tools-button {
    background: transparent;
    border: 0;
    margin-right: 12px;
}

.tools-button:nth-child(2){
    margin-right: 165px;
}

.tools-link {
color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-weight: 600;
line-height: normal;
}

.tools-decor {
    display: flex;
    align-items: center;
}


.tops {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 56px;
    gap: 107px;
}


.tools-loadaded {
color: #FF6E30;
font-size: 20px;
font-weight: 500;
line-height: normal;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: #1E252B;
padding: 17px 38px;
margin-top: 100px;
}


.trust {
    color: rgba(255, 255, 255, 0.80);
font-size: 24px;
font-weight: 500;
line-height: normal;
text-align: center;
}


.brand {
    border-radius: 25px;
    margin-top: 216px;
    height: 253px;
    margin-bottom: 200px;
}

.tool {
color: rgba(255, 255, 255, 0.90);
font-size: 48px;
font-weight: 500;
line-height: 130%;
}

.wow {
    color: rgba(255, 255, 255, 0.55);
font-size: 18px;
font-weight: 500;
line-height: 30px;
width: 427px;
margin-top: 30px;
margin-bottom: 60px;
}

.expl {
    color: #FFF;
font-size: 18px;
font-weight: 500;
line-height: normal;
border-radius: 8px;
background: #FF6E30;
padding-top: 16px;
padding-left: 40px;
padding-bottom: 15px;
padding-right: 40px;
border: 0;
}

.explmore {
color: #FFF;
font-size: 18px;
font-weight: 500;
line-height: normal;
}

/* newcomer-section */


.newcomer-box {
    display: flex;
    gap: 197px;
}

.newcomer-li {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 22px;
    padding-right: 21px;
}

.newcomer-title {
color: rgba(255, 255, 255, 0.78);
font-size: 24px;
font-weight: 500;
line-height: normal;
}

.newcomer-p {
color: rgba(255, 165, 55, 0.55);
font-size: 18px;
font-weight: 400;
line-height: normal;
margin-top: 3px;
margin-bottom: 30px;
}

.newcomer-l {
color: rgba(255, 255, 255, 0.55);
font-size: 14px;
font-weight: 400;
line-height: 30px;
width: 245px;
margin-bottom: 30px;
}

.newcomer-img {
    margin-bottom: 40px;
}
    
.newcomer-butt {
    background: transparent;
    border: none;
}

.newcomer-a {
color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 49px;
}

.newcomer-ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.newcomer-div {
    display: flex;
    gap: 30px;
}



.plin {
color: rgba(255, 255, 255, 0.78);
font-size: 24px;
font-weight: 500;
line-height: normal;
}

.pait {
color: rgba(255, 165, 55, 0.55);
font-size: 18px;
font-weight: 400;
line-height: normal;
}

.plant {
color: rgba(255, 255, 255, 0.55);
font-size: 14px;
font-weight: 400;
line-height: 30px;
}

.tretr {
color: rgba(255, 255, 255, 0.55);
font-size: 16px;
font-weight: 600;
line-height: normal;
}

.trak {
border-radius: 8px;
background: #1E252B;
}


  .ronald-dav {
    display: flex;
  }  

  .ronald {
    margin-top: 273px;
  }


.richards {
color: rgba(255, 253, 253, 0.78);
font-size: 26px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.39px;
}

.richard {
color: rgba(255, 255, 255, 0.78);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.21px;
width: 393px;

}

.aducation {
    margin-top: 145px;
    margin-bottom: 250px;
    margin-left: 550px;
}

.become-email {
display: flex;
}

.prod {
color: rgba(255, 253, 253, 0.55);
font-size: 16px;
font-weight: 400;
line-height: normal;
}

.contr {
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 48px;
font-weight: 500;
line-height: 130%;
margin-bottom: 25px;
}

.join {
color: rgba(255, 255, 255, 0.55);
font-size: 18px;
font-weight: 500;
line-height: 30px;
width: 427px;
margin-left: auto;
margin-right: auto;
}

.become-email {
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.10);
    background: #283036;
    width: 549px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 240px;
}

.enter {
    color: rgba(255, 255, 255, 0.38);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 22px;
    margin-left: 24px;
    margin-right: 260px;
    background: #283036;
    border: none;
    margin-bottom: 22px;
}

.byt {
color: #FFF;
font-size: 16px;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: #FF6E30;
border: none;
}

.footer-title {
color: rgba(255, 255, 255, 0.90);
font-size: 22px;
font-weight: 600;
line-height: normal;
}

.foter-logo {
color: rgba(255, 255, 255, 0.55);
font-size: 14px;
font-weight: 400;
line-height: 25px;
}

.img-antools {
    display: flex;
}

.footer-img {
    margin-right: 12px;
    width: 38px;
    height: 38px;
    margin-bottom: 25px;
}

.lkla {
    width: 260px;
    margin-top: 21px;
    margin-bottom: 98px;
}


.footer-ant {
    display: flex;
}

.blok {
    display: flex;
}

.footer-h {
    margin-bottom: 20px;
}

.footer-p {
    margin-bottom: 10px;
}

.footer-n {

}

.firs {
    margin-right: 156px;
}

.second {
    margin-right: 115px;
}

.third {
    margin-right: 115px;
}
